$topnav-background-color: #fff;
:host {
    display: block;
}
.first-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    color: #222;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        color: #222;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #C0C0C0;
        box-shadow: none;
    }
    .form-invalid,
    .input-invalid{
        border-bottom: 2px solid #f00;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: white !important;
        background: #066d8b;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: #C0C0C0;
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    a,
    a:hover {
        color: #C0C0C0 !important;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.5) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(0, 0, 0, 0.5) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(0, 0, 0, 0.5) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.5) !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        border: 2px solid #fff;
    }
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;        
    }
    
    .radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      align-items: flex-start;
    }

    .radio-button {
      margin: 5px;
    }    
    .center-label {
      text-align: center;
    }
}
